<nav class="bg-blue-300 h-[100%] px-8 sticky right-0 top-0">
    <h2 class="mb-8 font-bold text-center">معتمد ملل شریف</h2>
    <div>
      <section class="pt-3 mb-3 font-bold text-center border-b-2">وضعیت ثبت نام</section>
      <ul>
        <mat-list role="list">
          <mat-list-item role="listitem">اطلاعات اولیه مودی</mat-list-item>
          <mat-list-item role="listitem">استعلام مودی</mat-list-item>
          <mat-list-item role="listitem">اطلاعات تکمیلی مودی</mat-list-item>
        </mat-list>
      </ul>
    </div>
  </nav>
  
